{% extends 'base.html' %}
{% block title %}华语歌手{% endblock %}
{% block nav %}
        <a target="_self" href="{{url_for('china', page=1)}}" style="background-color: #ca65ac;color: #fff;">华语</a>
        <a target="_self" href="{{url_for('english', page=1)}}">English</a>
        <a target="_self" href="{{url_for('japan', page=1)}}">日语</a>
{% endblock %}
{% block page1 %}<a target="_self" href="{{ url_for('china', page = singers.prev_num) }}" style="color:yellow;text-decoration:blink;"><< Page </a>{% endblock %}
{% block page2 %}<a target="_self" href="{{ url_for('china', page = singers.next_num) }}" style="color:yellow;text-decoration:blink;"> Page >></a>{% endblock %}